extends base

block content
  div#videoContainer(data-video_id=video._id)
    video(src='/' + video.fileUrl)
    div#videoControls.videoControls.showing
      div.videoControls__play
        span#play.videoControls__playBtn
          i.fas.fa-play
      div.videoControls__time
        span#currentTime 00:00
        span  / 
        span#totalTime 00:00
        input(type='range', step='1', value='0', min='0')#timeline
      div.videoControls__volume
        input(type='range', value=0.5, step='0.1', min='0', max='1')#volume
        span#mute 
          i.fas.fa-volume-up
      div 
        span#fullScreen 
          i.fas.fa-expand
  div
    p.title=video.title
    p.description=video.description
    small=video.createdAt
  div.nameDiv
    small Uploaded by 
      a(href=`/users/${video.owner._id}`, class='owner')=video.owner.name
  if String(video.owner._id) === String(loggedInUser._id)
    div.editDiv
      a(href=`${video.id}/edit`, class='editVideo') Edit Video &rarr;
    div.deleteDiv
      a(href=`${video.id}/delete`, class='deleteVideo') Delete Video &rarr;

  if loggedIn
    div.video__add-comments
      form.video__comment-form#commentForm
        textarea(cols='30', rows='10', placeholder='Write a Comment.', id='commentArea') 
        button Add Comment
  if video.comments
    div.video__comments
      ul
        each comment in video.comments.reverse()  
          li.video__comment
            i.fas.fa-comment
            span #{comment.text}
            span ❌
block scripts
  script(src='/static/js/videoPlayer.js')
  if loggedIn
    script(src='/static/js/commentSection.js')